body {
    font-family: sans-serif;
}

b {
    border-bottom:2px solid black ;
    margin-left: 50px;
    margin:50px ;
    color: black;
}

footer {
    background-color: black;
    padding:6px;
}

footer p {
    background-color: white;
    padding: 3px;
}

main p {
    border:1px solid black;
    border-radius: 20px;
    padding: 5px;
}

.sus {
   border-left:10px dotted black;
   margin:30px;
}
